<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Departures for {{ stop_name }}</title>
    <link href="/static/style.css" rel="stylesheet">
</head>
<body>
    {% include 'navbar.html' %}

    <h1>Departures for <b>{{ stop_name }}</b></h1>
    <table>
        <thead>
            <tr>
                <th>Trip ID</th>
                <th>Time</th>
                <th>Headsign</th>
                <th>Route</th>
                <th>View Train</th>
            </tr>
        </thead>
        <tbody>
            {% for d in departures %}
            <tr style="background-color: #{{ d.route_color }}; color: #{{ d.route_text_color }}">
                <td>{{ d.trip_id }}</td>
                <td>{{ d.formatted_time }}</td>
                <td>{{ d.trip_headsign }}</td>
                <td>{{ d.route_short_name }}</td>
                <td>
                    <a href="/trips/{{d.trip_id}}">View Train</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>