<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Routes</title>
    <link href="/static/style.css" rel="stylesheet">
</head>
<body>
    {% include 'navbar.html' %}
    <h1>GTFS Routes</h1>
    <table>
        <thead>
            <tr>
                <th>Route ID</th>
                <th>Agency ID</th>
            </tr>
        </thead>
        <tbody>
            {% for route in routes.itertuples() %}
            <tr style="background-color: #{{ route.route_color }}; color: #{{ route.route_text_color }};">
                <td>{{ route.route_id }}</td>
                <td>{{ route.agency_id }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>