<!-- templates/stations.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Stations</title>
    <link href="/static/style.css" rel="stylesheet">
</head>
<body>
    {% include 'navbar.html' %}
    <h1>GTFS Stations</h1>
    <table>
        <thead>
            <tr>
                <th>Stop ID</th>
                <th>Name</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Departures</th>
            </tr>
        </thead>
        <tbody>
            {% for stop in stations.itertuples() %}
            <tr>
                <td>{{ stop.stop_id }}</td>
                <td>{{ stop.stop_name }}</td>
                <td>{{ stop.stop_lat }}</td>
                <td>{{ stop.stop_lon }}</td>
                <td><a href="/departures/{{ stop.stop_id }}">View</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>